<h1>Coaching#ask</h1>

<form action="/answer">
  <label for="question">Ask the coach:</label>
  <input type="text" id="question" name="query" placeholder="your question">
  <input type="submit" value="Go on!">
</form>

